*{
  box-sizing: border-box;
}
body {
  color:White;
  background-image:url('http://yodobi.com/4k-Wallpapers/black-background-Is-4K-Wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family:verdana;
  }
a {
    color: rgb(216, 120, 23);
  }
header {
  text-align:center;
}
nav {
  clear:both;
  text-align:center;
}
h1 {
  font-size:70px;
}
h2 {
  color: white;
}
section {
  clear:both;
}
 .project-list {
  color: white;
  background-color: pink;
}
#head-shot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:1px solid white;
  border-radius: 50%;
}
#contacts {
  text-align: center;
}
footer {
  clear:both;
  font-style: italic;
  font-size: 13px;
}
